@(jobs: List[TimerJob])

@main("Task Admin") {
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">
					<div class="logo">
						<div></div>
					</div>
					Task Scheduler
				</a>
				<a id="newTaskBtn" class="btn btn-success pull-right" href="#">New Task</a>
			</div>
		</div>
		<div id="dashboard">
			<div class="container">
				<div id="newTask">
					 <form class="form-horizontal">
					 	<div class="control-group">
					 		<label class="control-label" for="jobName">Job Name</label>
					 		<div class="controls">
					 			<input type="text" id="jobName">
					 		</div>
					 	</div>
					 	<div class="control-group">
					 		<label class="control-label" for="jobClass">Class Name</label>
					 		<div class="controls">
					 			<input type="text" id="jobClass">
					 		</div>
					 	</div>
					 	<div class="control-group">
					 		<label class="control-label" for="jobParams">Task Parameters</label>
					 		<div class="controls">
					 			<textarea id="jobParams"></textarea>
					 		</div>
					 	</div>
					 	<div class="control-group">
					 		<label class="control-label" for="jobStartTime">Start Time</label>
					 		<div class="controls">
					 			<input type="text" id="jobStartTime">
					 			<span class="help-block">MM/DD/YYYY HH:MM:SS</span>
					 		</div>
					 	</div>
					 	<div class="control-group">
					 		<label class="control-label" for="jobInterval">Interval</label>
					 		<div class="controls">
					 			<input type="text" id="jobInterval">
					 			<span class="help-block">-1 for non periodic tasks</span>
					 		</div>
					 	</div>
					 	<div class="form-actions">
							<button type="submit" class="btn btn-primary submit">Submit</button>
						 	<button class="btn cancel">Cancel</button>
					 	</div>
					 </form>
				</div>
				<table class="tasks table table-bordered table-hover">
					<tr>
						<th class="span2"> Name </th>
						<th class="span4"> Classname </th>
						<th class="span3"> Param </th>
						<th class="span2"> Next Start </th>
						<th class="span1"> Interval </th>
					</tr>
					@jobs.map { job =>
						@views.html.tasks.item(job)
					}
				</table>
			</div>
		</div>
	</div>
}