#dashboard {
	margin-top: 40px;
}

#newTask {
	margin: 10px 0;
	padding: 20px;
	border: 1px solid #aaa;
	border-radius: 10px;
	display: none
}

.brand i {
	margin-right: 10px;
}

.logo {
	width: 15px;
	height: 15px;
	display: inline-block;
	border: 2px solid #aaa;
	border-radius: 50%;
}

.logo div {
	width: 5px;
	height: 5px;
	float: right;
	margin-top: 2px;
	border-left: 2px solid #aaa;
	border-bottom: 2px solid #aaa;
	margin-right: 2px;
}